<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %> Adding a Task </title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>Add a New Task</h1>

  <form action="/add" method="POST">
    <label>Task Title:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Due Date:</label><br>
    <input type="date" name="dueDate"><br><br>

    <button type="submit">Save Task</button>
  </form>

  <p><a href="/">â† Back to tasks</a></p>

</body>
</html>