<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title || 'Task Tracker' %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
  <img src="/logo.png" alt="Team Logo" class="logo">

  <nav class="navbar">
    <div class="nav-left">
      <button onclick="location.href='/'" class="nav-btn nav-logo-btn">TaskTracker</button>
    </div>

    <div class="nav-right">
  <% if (!loggedIn) { %>
    <button onclick="location.href='/login'" class="nav-btn">Login</button>
  <% } else { %>
    <button onclick="location.href='/logout'" class="nav-btn">Logout</button>
  <% } %>
</div>

  </nav>
</header>


  <main>
    <%- body %>
  </main>

  <footer>
    <p>© 2025 Zack, Param, and Humza | INFR3120 Project</p>
  </footer>
</body>
</html>