<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title || 'Task Tracker' %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
  <img src="/logo.png" alt="Team Logo" class="logo">

  <nav class="navbar">
    <div class="nav-left">
      <a href="/" class="nav-logo">TaskTracker</a>
    </div>

    <div class="nav-right">
  <% if (!loggedIn) { %>
    <a href="/login" class="nav-item">Login</a>
    <a href="/register" class="nav-item">Register</a>
  <% } else { %>
    <a href="/logout" class="nav-item">Logout</a>
  <% } %>
</div>

  </nav>
</header>


  <main>
    <%- body %>
  </main>

  <footer>
    <p>© 2025 Zack, Param, and Humza | INFR3120 Project</p>
  </footer>
</body>
</html>